// RESPONSIVE
// ==============================

$mobile-min-width: $bp-medium !default;

.mobile-menu {
    display: show;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 10;
}

.mobile-menu.menu li a {
    color: black;
}

/* HIDE MENU ON LARGE WIDTH - MEDIUM BREAKPOINT */
@media (min-width: $mobile-min-width) {
    .mobile-menu {
        display: none;
    }
}